/* TABLET VIEW */
@media only screen and (max-width:768px) {



    .navigation {
        gap:15px;
    
    }

    .nav_button a {
        font-size: 14px;
    
    }
    
    .gallery-box{

        display:none;
    }

    #gallery-tablet-display{
        display:flex;
        background-color: #F7F4BA;
    }

    #gallery{

        display:none;
    }

    h2 {
        font-family: "lulo-one", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 32px;
        color: #F52602;
        line-height: 125%;
        margin:0px;
    }
    h3 {
        font-family: "lulo-one", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 16px;
        color: #000000;
        margin-top:20px;
        margin-bottom:0px;
    }

    .footer {
        height: 430px;

    }

    .mainn_nav {
        max-height:200px;

    }

    .gallery-top{

        height:100%;
    }
    
    #contact {

        background-color: #F7F4BA;
    }
    .two-column-mobile-contact{

        flex-flow:column;
    
    }

    

}

/* MOBILE VIEW */
@media only screen and (max-width: 390px) {
  
    .tablet-header {

        display: none;
    }
    
    .mobile-header{
    
        display:block;
    }

    
    .navigation {
        display:none;
        }

     .mobile-menu {
        display:block;
        }


     .mobile-menu-popout {

            display:block;
        }

    .mainn_nav {
        height: 60vh;
        
    }
    
    .nav_button a {

        justify-content: left;
    
    }

    .two-column-mobile {
        display:block;
    
      }

      h2 {
        font-size: 30px;
        line-height: 120%;
        margin:0px;
    }

    #about{

        margin-top:165px;
        
    }

    .persona-box{

        max-width: 234px;
    
    
    }


    h3 {
        line-height:140%;
        font-size: 20px;
        color: #000000;
    }



    #skills{

        display:none;
    }


    #mobile-skills{

        display:flex;
    }

    #mobile_about {

        display:block;
        margin-top:350px;
    }
    #about {

        display:none;
    }
    #mobile{

        display:none;
    }

    .gallery-focus-image{


        width:250px;
        height:100%;
    }

    h5 {
        font-size: 10px;
 
        }

    span {

        font-size: 10px;

    }


    #gallery-mobile-display{

        display:flex;
        background-color:#F7F4BA;
    }
    #gallery-tablet-display{


        display:none;
        
    }

    .gallery-summary-tablet{

        width:200px;
        margin:0 auto;
        display:block;
        font-size: 10px;
    }

    h3 {

        font-size: 16px;
    }

    .persona-box {

        width:100px;
        height:100%;
    }

    #contact {

        background-color: #F7F4BA;
        height:450px;
    }

    .two-column-mobile-contact{

        flex-flow:column;
    
    }
}

