/* CSS GOES HERE */

header {

width: auto;
height: auto;
left: 0px;
top: 320px;


}


body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    vertical-align: baseline;
}

p {
    line-height: 150%;
}


h2 {
    font-family: "lulo-one", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: #F52602;
}


h3 {
    font-family: "lulo-one", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    color: #000000;
}

h4 {
font-family: "lulo-one", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 15px;
line-height: 18px;
text-align: center;
color: #417BF6;

}

h5 {
    font-family: "lulo-one", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #000000;
    margin: 0px;
    margin-right:10px;
    
    }


section {
    padding: 60px 40px;
}

section:nth-child(even) {
    background-color: #fff;
}

.container {
    width: 100%;
    max-width: 960px;
    text-align: center;
    margin: 0 auto;
}

.about-container {
    width: 100%;
    max-width: 960px;
    text-align: left;
    margin: 0 auto;
}


.nav_button a {
    list-style: none;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 20px;
    font-family: "lulo-one", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #000000;
  

}


footer {
    background-color: #000;
    color: #fff;
}


.four-column {
    display:flex;
    flex-flow:row;
    width:100%;
    justify-content:center;

  }
  
.skill {
    content: "";
    display: table;
    clear: both;
    width:200px;
    height:80px;
    margin: 14px;
  }

.blue-dash-divider {

border: 6px dashed #417BF6;
width: 239px;
height:0px;
}


.three-column {
    display:flex;
    flex-flow:row;
    gap:15px;
    width:100%;
    justify-content:center;
    align-items:center;

  }


  .two-column {
    display:flex;
    flex-flow:row;
    gap:15px;
    width:100%;
    justify-content:center;
    align-items:center;

  }

.mainn_nav {

    background-color: #fff;
    background-repeat: no-repeat;
    height: 100vh;
    width:100%;
    max-height:800px;
    background-size: cover;
    
}

.navigation {
    padding: 30px;
    display: flex;
    flex-flow:row;
    gap:30px;
    justify-content: center;
    background-color: #F7F4BA;


}

.about-me-column{
    
    max-width: 610px;

}

.persona-box{

    max-width: 234;


}

.footer {

    background-image: url(Background/Footer.svg);
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;
}

.gallery{

    height:1445px;
    width:auto;
    background-image: url(Background/Gallery\ BG.svg);
    background-repeat: no-repeat;

}

.image {

    width:"300px";
    height:"100%";

}

footer{
    height: 500px;


}

.tablet-header {

    display: block;
}

.mobile-header{

    display:none;
}

.hamburger-icon{

display:none;

}

.gallery-description{

justify-content: left;

}

.gallery-box {

flex-direction: row;
display: flex;
align-items: center;
margin-top:15px;
margin-bottom:15px;
margin-left:40px;
margin-right:40px;
}

.gallery-summary{
    width:450px;
    text-align:left;
    margin-left:40px;
    margin-right:40px;
}

.gallery-navbar{
display:flex;
flex-direction: row;
align-items: center;
justify-content: center;

}

.gallery-frame{

    background-image: url(interact/gallery-focus.svg);
    background-repeat: no-repeat;
    width: 1150px;
    height:auto;
    padding:15px;
    margin:15px;

}